In [124]:
import json 
import pdftotext
import pandas as pd
nltk.download('punkt')
import os

from sklearn.feature_extraction.text import TfidfTransformer
import io
from collections import Counter

import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

[nltk_data] Downloading package punkt to /home/tesla/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [132]:
data = pd.DataFrame()
for filename in os.listdir("./profiles/"):
    if filename.endswith(".pdf"): 
\        with open("./profiles/" + filename, "rb") as f:
             pdf = pdftotext.PDF(f)
 
        with open('./profiles/output.txt', 'w') as f:
            f.write("\n".join(pdf))

        print(filename)
        df = pd.read_csv("./profiles/output.txt", delimiter='/n')
        df.to_csv(filename + '.csv')
        dff = pd.read_csv(filename + '.csv')
        ','.join(dff.Contact)
        data = data.append({'data': ', '.join(dff.Contact)}, ignore_index=True)
        os.remove(filename + '.csv')
        os.remove("./profiles/output.txt")

        continue
    else:
        continue
data.to_csv("data.csv")

Profile2.pdf
Profile.pdf
Profile1.pdf

/home/tesla/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  del sys.path[0]

In [133]:
df = pd.read_csv("./data.csv")
df

   Unnamed: 0                                               data
0           0  consultation.caphike@gmail., Jayashree Sadhu, ...
1           1  Imtiaz Ahmed, www.linkedin.com/in/imtiaz1729 S...
2           2  +91 9958457590 (Mobile), Jatin Bumbra, jatinbu...

In [136]:
texts = df.data
texts

0    consultation.caphike@gmail., Jayashree Sadhu, ...
1    Imtiaz Ahmed, www.linkedin.com/in/imtiaz1729 S...
2    +91 9958457590 (Mobile), Jatin Bumbra, jatinbu...
Name: data, dtype: object

In [138]:
print(len(texts))

3

In [141]:
for text in texts:
    newText = pre_process(text).split(",")
    
    tfIdfVectorizer=TfidfVectorizer(use_idf=True, stop_words = "english")
    tfIdf = tfIdfVectorizer.fit_transform(newText)
    df = pd.DataFrame(tfIdf[0].T.todense(), index=tfIdfVectorizer.get_feature_names(), columns=["TF-IDF"])
    df = df.sort_values('TF-IDF', ascending=False)
    print (df.head(5))
    
    ngram_vectorizer = CountVectorizer(analyzer='word', ngram_range=(1, 1), min_df=1, stop_words="english")
    X = ngram_vectorizer.fit_transform(newText)
    vocab = ngram_vectorizer.get_feature_names()
    counts = X.sum(axis=0).A1
    freq_distribution = Counter(dict(zip(vocab, counts)))
    print (freq_distribution.most_common(10))

                TF-IDF
consultation  0.625840
gmail         0.625840
caphike       0.465456
0a13971b4     0.000000
com           0.000000
[('caphike', 3), ('com', 2), ('developer', 2), ('jayashree', 2), ('linkedin', 2), ('sadhu', 2), ('web', 2), ('0a13971b4', 1), ('consultation', 1), ('experience', 1)]
                TF-IDF
imtiaz        0.707107
ahmed         0.707107
122nd         0.000000
machine       0.000000
participants  0.000000
[('2020', 5), ('course', 4), ('data', 3), ('kaggle', 3), ('learning', 3), ('python', 3), ('statistics', 3), ('2019', 2), ('analytics', 2), ('deep', 2)]
             TF-IDF
91          0.57735
9958457590  0.57735
mobile      0.57735
110054      0.00000
present     0.00000
[('developer', 3), ('web', 3), ('2020', 2), ('bumbra', 2), ('college', 2), ('com', 2), ('jatin', 2), ('jatinbumbra', 2), ('linkedin', 2), ('pgdav', 2)]